<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.4/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-animate.js"></script>
    <script src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.14.3.js"></script>
    <script src='https://cdn.firebase.com/js/client/2.2.1/firebase.js'></script>
    <script src="https://cdn.firebase.com/libs/angularfire/0.5.0/angularfire.min.js"></script>
    <script src="js/app.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/custom.css">
    <link rel="stylesheet" href="css/timeline.css">
    <link rel="stylesheet" href="css/font-awesome.css">
    <link rel="stylesheet" href="css/checkbox.css">
    
  </head>
    <body ng-app="app" ng-controller="MainController as main">
        <!-- NAV BAR -->
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="nav navbar-nav navbar-left" ng-show="viewBackButton">
                <a class="navbar-brand" ng-click="init()"> <span class="glyphicon glyphicon-chevron-left"></span> </a>
            </div>
            <div class="container-fluid">
            
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Status Reports</a>
                </div>
                <!--<div id="navbar" class="navbar-collapse collapse">
                    <form class="navbar-form navbar-right">
                        <div class="form-group">
                          <input type="text" ng-model="searchInput" uib-typeahead="report.title for report in statusReports |  orderByPriority | filter:searchInput | limitTo:8" class="form-control">
                        </div>
                        <button ng-click="createReport()" class="btn btn-success">Criar</button>
                  </form>
                </div>--><!--/.nav-collapse -->
            </div>
        </nav>

        <!-- SEARCH SECTION-->
        <div class="container-fluid" ng-show="viewSearch">
            <div class="input-group">
              <input type="text" ng-model="searchInput" uib-typeahead="report.title for report in statusReports |  orderByPriority | filter:searchInput" class="form-control" placeholder="Procurar report..."/>
              <span class="input-group-btn">
                <button class="btn btn-default" type="button" ng-click="createReport()">Criar!</button>
              </span>
            </div><!-- /input-group -->

            <hr>

            <div class="panel panel-info">
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="value in statusReports |  orderByPriority | filter:searchInput" ng-click="showReport(value)">{{value.title}} <span class="pull-right"><span class="badge">{{value.createDate | date : format : timezone}}</span></span></li>
                </ul>
            </div>
            
        </div>

        <!-- RESULT SECTION-->
        <div class="container-fluid" ng-show="viewReport">
            <div class="row">
                <div class="col-md-4"><!-- INFORMAÇÕES -->
                    <div class="panel panel-default">
                        <div class="panel-heading">Informações</div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-4"><strong>Id: </strong></div>
                                <div class="col-sm-8">{{report.$id}}</div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4"><strong>Nome: </strong></div>
                                <div class="col-sm-8">{{report.title}}</div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4"><strong>Area: </strong></div>
                                <div class="col-sm-8">{{report.area}}</div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4"><strong>Projeto: </strong></div>
                                <div class="col-sm-8">{{report.project}}</div>
                            </div>
                        </div>
                    </div>
                </div><!-- FIM INFORMAÇÕES -->
                
                <div class="col-md-8"><!-- STATUS -->
                    <div class="panel panel-info">
                        <div class="panel-heading">Atividades</div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-8"><input type="text" class="form-control" ng-model="descriptionInput" placeholder="Descrição"></div>
                                <div class="col-md-4">
                                    <div class="btn-group">
                                        <div class="radio radio-danger radio-inline">
                                            <input type="radio" name="radio1" id="radio1" ng-model="typeInput" value="Problema">
                                            <label for="radio1">
                                                Problema
                                            </label>
                                        </div>
                                        <div class="radio radio-warning radio-inline">
                                            <input type="radio" name="radio2" id="radio2" ng-model="typeInput" value="Informação">
                                            <label for="radio2">
                                                Informação
                                            </label>
                                        </div>
                                        <div class="radio radio-success radio-inline">
                                            <input type="radio" name="radio3" id="radio3" ng-model="typeInput" value="Sucesso">
                                            <label for="radio3">
                                                Sucesso
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br/>
                            <div class="row">
                                <div class="col-md-12"><button ng-click="createActivity()" class="btn btn-default btn-block">Registrar</button></div>
                            </div>
                        </div>
                        <ul class="list-group">
                            <li class="list-group-item" ng-repeat="activity in activities | orderByPriority | orderBy:'createDate':true">
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                      <h4 class="timeline-title">{{activity.description}}</h4>
                                      <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>{{activity.createDate | date : format : timezone}}</small></p>
                                    </div>
                                    <div class="timeline-body">
                                      <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo.
                                        Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
                                    </div>
                                  </div>
                            </li>
                        </ul>
                    </div>
                </div><!-- FIM STATUS -->
            </div>
        </div>
</body>
</html>