<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.4/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-animate.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.14.3.js"></script>
    <script src='https://cdn.firebase.com/js/client/2.2.1/firebase.js'></script>
    <script src="https://cdn.firebase.com/libs/angularfire/0.5.0/angularfire.min.js"></script>
    <script src="js/app.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/timeline.css">
    
  </head>
    <body ng-app="app" ng-controller="ReportController">
         <!-- Fixed navbar -->
        <nav class="navbar navbar-default navbar-static-top">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="#">Status Reports</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <form class="navbar-form navbar-right">
                    <div class="form-group">
                      <!--<input type="text" ng-model="reportIdInput" uib-typeahead="report.title for report in statusReports |  orderByPriority | filter:searchInput | limitTo:8" class="form-control">-->
                      <input type="text" ng-model="reportIdInput"class="form-control">
                    </div>
                    <button ng-click="searchReport()" class="btn btn-success">Procurar</button>
              </form>
            </div><!--/.nav-collapse -->
          </div>
        </nav>

        <div class="container-fluid">
    		<div class="row">
    			<div class="col-md-4"><!-- INFORMAÇÕES -->
    				<div class="panel panel-default">
				    	<div class="panel-heading">Informações</div>
				   		<div class="panel-body">
				   			<div class="row">
								<div class="col-sm-4"><strong>Id: </strong></div>
								<div class="col-sm-8">{{reportId}}</div>
							</div>
							<div class="row">
								<div class="col-sm-4"><strong>Nome: </strong></div>
								<div class="col-sm-8">{{report.title}}</div>
							</div>
				   		</div>
				   	</div>
    			</div><!-- FIM INFORMAÇÕES -->
    			
    			<div class="col-md-8"><!-- STATUS -->
    				<div class="panel panel-info">
    					<div class="panel-heading">Atividades</div>
    					<div class="panel-body">
    						<div class="row">
    							<div class="col-md-8"><input type="text" class="form-control" placeholder="Descrição"></div>
    							<div class="col-md-4">
    								<div class="btn-group" data-toggle="buttons-radio">
									    <label class="radio-inline">
										  <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> Problema
										</label>
										<label class="radio-inline">
										  <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> Informação
										</label>
										<label class="radio-inline">
										  <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3"> Sucesso
										</label>
									</div>
    							</div>
    						</div>
    						<br/>
    						<div class="row">
    							<div class="col-md-12"><button ng-click="createActivity()" class="btn btn-default btn-block">Registrar</button></div>
    						</div>
    					</div>
		                <ul class="list-group">
		                    <li class="list-group-item" ng-repeat="(key, value) in statusReports |  orderByPriority | filter:searchInput">{{value.title}} <span class="pull-right"><span class="badge error">{{value.createDate | date : format : timezone}}</span></span></li>
		                </ul>
		            </div>
    			</div><!-- FIM STATUS -->
    		</div>
        </div>
	</body>
</html>